// colors
$colorOrange: #ee7724;
$colorBlue: #322e7e;
$colorDarkBrown: #372618;
$colorWheat: #cdb19d;
$colorBrown: #a28054;
$colorGold: #c49554;
$colorSection: rgba(198, 173, 128, 0.3);


// fonts
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700|Josefin+Slab:400,600,700|Yantramanav:700,900');

$fontCrimson: 'Crimson Text', serif;
$fontJosefinSlab: 'Josefin Slab', serif;
$fontYant: 'Yantramanav', sans-serif;
